<h1>Salesforce Formatter Web</h1>

<p>Enter one or more 15 character Salesforce Campaign IDs, either comma-separated or on separate rows.  We'll generate and display their 18 character equivalents.</p>

<form action="/convert" method="post">
  <textarea name="sfdc_id" rows="10" cols="70" autofocus></textarea>
  <br/>
  <input type="submit" value="Do It" />
</form>

<hr/>

<% if @results %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Results</h3>
  </div>
  <div class="panel-body">
  <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Both</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Just 18</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">CSV</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <pre><%= format_both(@results) %></pre>
    </div>   
    <div role="tabpanel" class="tab-pane" id="profile">
      <pre><%= format_just18(@results) %></pre>
    </div>       
    <div role="tabpanel" class="tab-pane" id="messages">
      <pre><%= format_csv(@results) %></pre>
    </div>       
    </div>
  </div>
  </div> <!-- navtabs -->
  
  </div> <!-- panel body -->
</div> <!-- panel -->



<% end %>
