<h1>Salesforce Formatter Web</h1>

<p>Enter one or more 15 character Salesforce Campaign IDs, either comma-separated or on separate rows.  We'll generate and display their 18 character equivalents.</p>

<form action="/convert" method="post">
  <textarea name="sfdc_id" rows="10" cols="70" autofocus></textarea>
  <br/>
  <input type="submit" value="Do It" />
</form>

<% if @formatted %>
  <p>Your result:</p>
  <pre><%= @formatted %></pre>
<% end %>
