<h1>Salesforce Formatter Web</h1>

<p>Enter a 15 character Salesforce Campaign ID and receive its 18 character equivalent.</p>

<form action="/convert" method="post">
  <input type="text" name="sfdc_id" autofocus />
  <input type="submit" value="Do It" />
</form>

<% if @formatted %>
  <p>Your result: <%= @formatted %></p>
<% end %>
