<h1>Salesforce Formatter Web</h1>

<p>Enter one or more 15 character Salesforce Campaign IDs, either comma-separated or on separate rows.  We'll generate and display their 18 character equivalents.</p>

<form action="/convert" method="post">
  <textarea id="converter-input" name="sfdc_id" rows="10" cols="70" autofocus></textarea>
  <br/>
  <input type="submit" value="Do It" />
  <small>Pro-tip: <code>&#8984; + enter</code> will submit the form</small>
</form>


<hr/>


<% if @results %>

  <div class="panel panel-default container-fluid">
    <div class="panel-heading row">
      <div class="col-xs-4"><h3 class="panel-title">Results</h3></div>
      <div class="col-xs-8"><button class="btn pull-right zclip">Copy</button></div>
    </div>

    <div class="panel-body">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Both</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Just 18</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">CSV</a></li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <pre id="result"><%= format_both(@results) %></pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <pre id="result"><%= format_just18(@results) %></pre>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
          <pre id="result"><%= format_csv(@results) %></pre>
        </div>
      </div>
    </div>
  </div>
<% end %>
