<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salesforce Formatter Web</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A simple site to convert 15 character salesforce ids to 18 characters">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Salesforce Formatter Web</a>
        </div>

      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <ul>
          <li><a href="https://github.com/maxbeizer/salesforce-formatter-web">GitHub</a></li> |
          <li><a href="https://raw.githubusercontent.com/maxbeizer/salesforce-formatter-web/master/LICENSE.txt">License</a></li>
        </ul>
      </div>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/jquery.zeroclipboard.min.js"></script>
    <script src="/zero.js"></script>
  </body>
</html>
