<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salesforce Formatter Web</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="A simple site to convert 15 character salesforce ids to 18 characters">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/style.css" rel="stylesheet"></link>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main class="container center page-wrap">
      <%= yield %>
    </main>

    <footer class="conatiner">
      <ul class="unstyled">
        <li><a href="https://github.com/maxbeizer/salesforce-formatter-web">GitHub</a></li>
        <li><a href="https://raw.githubusercontent.com/maxbeizer/salesforce-formatter-web/master/LICENSE.txt">License</a></li>
      </ul>
    </footer>
  </body>
</html>
