html,
body {
  height: 100%;
}

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -42px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, 
.page-wrap:after {
  height: 42px; 
}

ul.unstyled {
  list-style: none;
}

footer ul li {
  display: inline-block;
}
